{% extends "layout.html" %}
{% from 'macro.html' import render_form %}
{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">

        <h1>Snapchat Bot Web Interface!</h1>

        <details>
            <summary><i class="fa fa-plus-circle"></i> New Bot</summary>
            {{ render_form(botform, action_url='create/', action_text='Submit', class='', btn_class='btn btn-info') }}
        </details>
    </div><!-- /.jumbotron -->

    <div class="body-content">
        {% if running_bots %}
            <h1> Running Bots</h1>
            <div class="row">
                {% for bot in running_bots %}
                    <div class="col-md-12">
                        <div class="well well-sm">
                            <div class="row">
                                <div class="col-xs-2 col-md-2 text-center">
                                    <img src="http://uxrepo.com/static/icon-sets/foundation/png32/256/000000/fi-social-snapchat-256-000000.png"
                                         alt="bootsnipp"
                                         class="img-rounded img-responsive"/>
                                </div>
                                <div class="col-xs-10 col-md-10 section-box">
                                    <h2>{{ bot.name }}</h2>
                                    <small> {{ bot.bot_pid }}</small>
                                    <form action="{{ url_for('user.stop', name=bot.username) }}">
                                        <button type="submit" class="btn btn-danger">Turn Off</button>
                                    </form>
                                    <hr/>
                                </div>

                            </div>
                            <div class="row rating-desc">
                                <div class="col-md-2"></div>
                                <div class="col-md-6">
                                    <i class="fa fa-male"></i> 36 friends
                                    <span class="separator">|</span>
                                    <i class="fa fa-camera"></i> 100 snaps
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if disabled_bots %}
            <h1> Disabled Bots </h1>
            <div class="row">
                {% for bot in disabled_bots %}
                    <div class="col-md-12">
                        <div class="well well-sm">
                            <div class="row">
                                <div class="col-xs-2 col-md-2 text-center">
                                    <img src="http://uxrepo.com/static/icon-sets/foundation/png32/256/000000/fi-social-snapchat-256-000000.png"
                                         alt="bootsnipp"
                                         class="img-rounded img-responsive"/>
                                </div>
                                <div class="col-xs-10 col-md-10 section-box">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <h2>{{ bot.name }}</h2>
                                            <small> {{ bot.bot_pid }}</small>
                                        </div>
                                        <div class="col-md-2">
                                            <br>

                                            <form action="{{ url_for('user.start', name=bot.username) }}">
                                                <button type="submit" class="btn btn-success btn-block">Turn On</button>
                                            </form>
                                            <br>

                                            <form action="{{ url_for('user.delete', name=bot.username) }}">
                                                <button type="submit" class="btn btn-danger btn-block">Delete</button>
                                            </form>
                                        </div>
                                        <div class="col-md-1">
                                        </div>
                                        <hr/>
                                    </div>
                                </div>

                            </div>
                            <div class="row rating-desc">
                                <div class="col-md-2"></div>
                                <div class="col-md-6">
                                    <i class="fa fa-male"></i> 36 friends
                                    <span class="separator">|</span>
                                    <i class="fa fa-camera"></i> 100 snaps
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>
        {% endif %}
{% endblock %}

