{% extends "layout.html" %}

{% block content %}
    <div class="body-content">
        <div class="row">
            <h1>About</h1>

            <p>
                <strong>This is a web interface for managing SnapChat bots</strong>
            </p>

            <p>
                All that is required is a snapchat user and you can make yourself a bot.
            </p>

            <p>
                This site is build using the <a href="https://github.com/sloria/cookiecutter-flask"> cookiecutter-flask
                boilerplate </a> and the
                bots are run with <a href="https://github.com/agermanidis/SnapchatBot">this awesome repo</a>
            </p>

        </div>
    </div>
{% endblock %}

