
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Snapchat Bot Web Interface!</h1>

  <p>Here you can manage and setup bots that live on snapchat</p>
  <p><a href="https://github.com/krekle/snapface" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div><!-- /.jumbotron -->

<div class="body-content">
  <h1>This Interface it build with </h1>
  <div class="row">
    <div class="col-lg-4">
      <h2><i class="fa fa-github"></i> Cookiecutter-Flask </h2>
      <p>Superfast setup of a flask boilerplate.</p>
      <p><a class="btn btn-default" href="https://github.com/sloria/cookiecutter-flask">Official website &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-github"></i> SnapchatBot </h2>
      <p>Python library for snapchat bots.</p>
      <p><a href="http://www.sqlalchemy.org/" class="btn btn-default" href="https://github.com/agermanidis/SnapchatBot">Official website &raquo;</a></p>
   </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-globe"></i> Fabric </h2>
      <p>Run tasks like snapchatbots.</p>
      <p><a href="http://wtforms.simplecodes.com/" class="btn btn-default" href="http://www.fabfile.org/">Official website &raquo;</a></p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}

